@charset "utf-8";

body{
    font-size: 62.5%;
}

h1{
    font: normal 2.4em Verdana, Geneva, sans-serif;
    background: -webkit-linear-gradient(top, #00f, #0cf);
    width: 35%;
    border-radius: 10px;
    
}